@model Playground.AspNetMvc.Models.IndexViewModel
@{
    ViewBag.Title = "Gérer";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Changer les paramètres de votre compte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Mot de passe :</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Changer votre mot de passe", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Créer", "SetPassword")
            }
            ]
        </dd>
        <dt>Connexions externes :</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Gérer", "ManageLogins") ]
        </dd>
        @*
            Les numéros de téléphone peuvent servir de second facteur de vérification dans un système d'authentification à 2 facteurs.
             
             Voir <a href="http://go.microsoft.com/fwlink/?LinkId=313242">cet article</a>
                pour savoir comment configurer cette application ASP.NET pour qu'elle prenne en charge l'authentification à 2 facteurs via les SMS.
             
             Décommentez le bloc suivant après avoir configuré l'authentification à 2 facteurs
        *@
        @*  
            <dt>Numéro de téléphone :</dt>
            <dd>
                @(Model.PhoneNumber ?? "Aucun") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Changer", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Supprimer", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Ajouter", "AddPhoneNumber")
                }
                ]
            </dd>
        *@
        <dt>Authentification à 2 facteurs :</dt>
        <dd>
            <p>
                Aucun fournisseur d'authentification à 2 facteurs n'est configuré. Voir <a href="http://go.microsoft.com/fwlink/?LinkId=313242">cet article</a>
               pour savoir comment configurer cette application ASP.NET pour qu'elle prenne en charge l'authentification à 2 facteurs.
            </p>
            @*@if (Model.TwoFactor)
                {

                    <form method="post" action="/Manage/DisableTwoFactorAuthentication">
                        Activé
                        <input type="submit" value="Désactiver" class="btn btn-link" />
                    </form>
                }
                else
                {

                    <form method="post" action="/Manage/EnableTwoFactorAuthentication">
                        Désactivé
                        <input type="submit" value="Activer" class="btn btn-link" />
                    </form>
                }*@
        </dd>
    </dl>
</div>
